[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-nerdtree"]
	path = vim/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-stylus"]
	path = vim/bundle/vim-stylys
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/vim-css3-syntax"]
	path = vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "vim/bundle/vim-html5"]
	path = vim/bundle/vim-html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-salt"]
	path = vim/bundle/vim-salt
	url = https://github.com/saltstack/salt-vim.git
[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "vim/bundle/vim-beancount"]
	path = vim/bundle/vim-beancount
	url = https://github.com/nathangrigg/vim-beancount
[submodule "vim/bundle/vim-vue"]
	path = vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim/bundle/black"]
	path = vim/bundle/black
	url = https://github.com/psf/black.git
[submodule "vim/bundle/vim-plantuml"]
	path = vim/bundle/vim-plantuml
	url = https://github.com/aklt/plantuml-syntax
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
